<p>Ik denk dat hier een korte uitleg moet komen hoe alles werkt. Niks
moelijks. Gewoon: inloggen, zoeken en dansen :p</p>

<% content_for(:colright) do %>
  <%=  render_cell(:playlist, :currently_playing) %>
  <%=  render_cell(:playlist, :show) %>
<% end %>