<h2>Playlist</h2>

<% if @playlist.items.length > 0 %>
  <ol>
    <% @playlist.items.each do |playlist_item| %>
      <% if playlist_item.playing? %>
        <li><strong><%= playlist_item.song.description %></strong></li>
      <% else %>
        <li><%= link_to(playlist_item.song.description, playlist_item.song) %>
          <% if playlist_item.votes.length > 1 %>
            (<%=playlist_item.votes.length%> stemmen)
          <% else %>
            (1 stem)
          <% end %>
        </li>
      <% end %>
    <% end %>
  </ol>
<% else %>
  <p>Nothing in the playlist</p>
<% end %>
