config/database.yml
config/*.sphinx.conf
config/s3_credentials.yml
*~
*.cache
*.log
*.pid
tmp/**/*
.DS_Store
db/cstore/**
db/sphinx/**
doc/api
doc/app
doc/plugins
doc/*.dot
coverage/*
db/*.sqlite3
*.tmproj
*.sw?
#test/samples/gapless/ogg/
test/samples/gapless/flac/
test/samples/gapless/mp3/
test/samples/gapless/wav/
