<a href="/">Home</a>
|
<a href="/search">Zoeken</a>
|
<% if current_user %>
  <%#*<a href="/user_sessions/new">Mijn account</a>%>
  <a href="/user_sessions/destroy">Uitloggen</a>
<% else %>
  <a href="/user_sessions/new">Inloggen</a>
<% end %>